@import url('normilize.css');

html {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

body {
    font-family: Calibri;
    font-size:14px;
}

.text-center {
    text-align: center;
}


.mt-10 {
    margin-top: 10px;
}

.back {
    position: absolute;
    left: 27px;
    top: 14px;
}

#container {
    background: #fff;
    max-width: 900px;
    padding:  40px 30px;
    border-radius: 10px;
    position: relative;
}

#container .auth {
    text-align: center;
}

#container .auth input,
#container .create input {
    color: #666;
    display: block;
}

#container .auth input {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
    background: #e6e6e6;
    border-radius: 25px;
    width: 100%;
    min-width: 258px;
    padding: 5px 10px;
    margin: 10px 0;
}

#container .create input {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
    background: #fefefe;
    border-radius: 4px;
    width: 100%;
    min-width: 258px;
    padding: 5px 10px;
    margin: 10px 0;
    color: black;
}

#container .create select {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
    background: #fefefe;
    border-radius: 4px;
    width: 100%;
    min-width: 258px;
    padding: 5px 10px;
    margin: 10px 0;
    color: black;
}

#container .auth button {
    border: none;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    cursor: pointer;
}

#container .create .button {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f72359;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    text-align: center;
}
#container .create .button span {
    position: relative;
    pointer-events: none;
}
#container .create .button::before {
    --size: 0;
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
}

#container .create .button:hover::before {
    --size: 400px;
}

#container .auth button {
    line-height: 1.5;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background: #57b846;
    padding: 0 25px;
}

#container .auth a {
    line-height: 1.7;
    color: #666;
    margin-top: 5px;
    text-decoration: none;
}

#container .auth a:hover {
    text-decoration: underline;
}

#container form .error {
    color: red;
    font-size: 12px;
}

#container form .success {
    color: green;
    font-size: 16px;
}

#container  h1 {
    padding: 0 13px;
    font-size: 23px;
}

#container .profile ul {
    margin: 0;
    padding: 0;
}

#container .profile ul li {
    list-style: none;
}

#container .profile ul li a {
    display: block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 11px;
    margin: 5px 0;
    text-decoration: none;
    color: black;
}

#container .profile ul li a:hover{
    box-shadow:-2px 0px 6px 2px rgba(0,0,0,0.17);
    -webkit-box-shadow:-2px 0px 6px 2px rgba(0,0,0,0.17);
    -moz-box-shadow:-2px 0px 6px 2px rgba(0,0,0,0.17);
}

#container .view table tr td {
    padding: 10px;
}

#container .view table tr td + td {
    text-align: left;
}